/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/ext/flite/Makefile
/ext/flite/rbflite_builtin_voice_list.c
/pkg/
/spec/reports/
/tmp/
/*.gem
*.a
*.bundle
*.def
*.o
*.so
*.dll
*~
mkmf.log
